<form action="/add_interest" method="post">
  Choose interest to add:
  <select name="interest">
    <option>Basketball</option>
    <option>Football</option>
    <option>Volleyball</option>
    <option>Wrestling</option>
    <option>Golf</option>
    <option>Pokemon</option>
    <option>Fortnite</option>
  </select>
  <input type="submit" value="Add Interest">
</form>
<a href="/">Return to Index</a>